<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/timeslotModal.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Edit Event Type</title>
</head>
<body>
	<th:block th:insert="fragments/nav :: nav"></th:block>
	
	<div class="container my-5">
		<div class="row">

			<h1>Edit Event Type</h1>

			<div th:switch="${eventType}" class="container">
				<div class="col-md-10">
					<h2 th:case="null">No Event Type Record Found!</h2>
					<h2 th:case="NoData">No Event Type Record Found!</h2>

					<div th:case="*">

						<form action="#" id="form" th:action="@{/mvc/event-types/update/{id}(id=${eventType.id})}"  method="post">

							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Name of Event Type</label> 
								<input type="text" th:field="*{eventType.name}" class="form-control" id="name" placeholder="EX: Pet Mini Basic"> 
								<span th:if="${#fields.hasErrors('eventType.name')}" th:errors="*{eventType.name}" class="text-danger"></span>
							</div>
										
<!-- 							<div class="form-group col-md-6"> -->
<!-- 								<label for="baseCost" class="col-form-label">Base Cost $</label>  -->
<!-- 								<input type="number" th:field="*{eventType.baseCost}" class="form-control" id="baseCost" placeholder="EX: 500" onfocus="this.select()">  -->
<!-- 								<span th:if="${#fields.hasErrors('eventType.baseCost')}" th:errors="*{eventType.baseCost}" class="text-danger"></span> -->
<!-- 							</div> -->
							
							<div class="form-group col-md-6">
								<label for="baseCost" class="col-form-label">Base Cost $</label>
								<div class="flex">
									<span class="currency form-control">$</span>
<!-- 									<input type="text" name="amount" id="amount" maxlength="15" class="form-control input-amount" placeholder="EX: 500" onfocus="this.select()"/> -->
<!-- 									<input type="text" th:field="*{eventType.baseCost}" name="baseCost" id="baseCost" maxlength="15" hidden/> -->
									
									<input type="text"  th:field="*{eventType.baseCost}" name="baseCost" id="baseCost" maxlength="15" class="form-control input-amount" placeholder="EX: 500" onfocus="this.select()"/>
									
								</div>
								<span th:if="${#fields.hasErrors('eventType.baseCost')}" th:errors="*{eventType.baseCost}" class="text-danger"></span>
							</div>
							
							<td><input type="submit" class="btn btn-primary" value="Save"></td>
							
							<td><a onclick="history.back()"
								class="btn btn-primary delete"> <i
									class="fas fa-user-times m1-2">Cancel</i>
							</a></td>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>

</body>
</html>