<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{../../css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../css/main.css}" />

<title>All Event Types</title>
</head>
<body>

	<div class="container my-5">
		<div class="row">

			<h1>All Event Types</h1>
			<div class="container">
				<p class="my-5">
					<a th:href="@{/mvc/event-types/new}" class="btn btn-primary"> <i
						class="fas fa-user-plus m1-2">Add Event Type</i></a>
				</p>
				<div class="col-md-10">
					<div>
						<h2 th:if="${eventTypes == null}">No Event Type Records Found!</h2>
						<h2 th:if="${#lists.isEmpty(eventTypes)}">No Event Type Records Found!</h2>

						<div th:if="${not #lists.isEmpty(eventTypes)}" class="event-type-table">
							<table class="table-striped">
								<thead>
									<tr>
										<th class="row-1 row-name">Name</th>
										<th class="row-2 row-cost">Base Cost</th>
										<th class="row-3 row-button-edit">Edit</th>
										<th class="row-4 row-button-delete">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="eventType: ${eventTypes}">
											<td>
												<a th:href="@{/mvc/event-types/show/{id}(id=${eventType.id})}" th:text="${eventType.name}"></a>
											</td>
										<td th:text="'$' + ${#numbers.formatDecimal(eventType.baseCost, 0, 'COMMA', 0, 'POINT')}"></td>
										<td class="td-btn"><a th:href="@{/mvc/event-types/edit/{id}(id=${eventType.id})}"
											class="btn btn-primary"> <i class="fas fa-user-edit m1-2">Edit</i>
										</a></td>
										<td class="td-btn"><a th:href="@{/mvc/event-types/delete/{id}(id=${eventType.id})}"
											class="btn btn-primary delete" 
											th:data-confirm-delete="|Are you sure you want to delete Event Type ${eventType.name}?|"
											onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"> <i
												class="fas fa-user-times m1-2">Delete</i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>