<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/switchContentDisplay.js}"></script>
<script type="text/javascript" th:src="@{/js/wickedpicker.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/event-calendar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/wickedpicker.min.css}" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<title>Insert title here</title>
</head>
<body>
<!-- 	<script type="text/javascript" th:src="@{/js/delayLoad.js}"></script> -->

	<th:block th:each="event, iter : ${events}">
		<!-- 		<div th:if="${iter.index} != -10" th:id="'eventId' + ${event.id}"  -->
		<div th:id="'eventId' + ${event.id}" th:text="${event.eventName}"></div>
	</th:block>

	<div class="container2">
		<div class="navigation"> 
			<span class="nav-back"><a id="back" th:href="@{/mvc/events/calendar/{date}(date=${month.previousDayLink})}"><</a></span>
			<span class="nav-header" th:text="${month.dayName} + ', ' + ${month.monthName} + ' ' + ${month.day} + ', ' + ${month.year}">navigation</span>
			<span class="nav-forward"><a id="forward" th:href="@{/mvc/events/calendar/{date}(date=${month.nextDayLink})}">></a></span>
		</div>
		<div class="day-calendar">
			<div class="day-header">
				<div class="newEvent">
				<a th:href="@{/mvc/events/{date}(date=${month.today})}"
											class="btn btn-primary gray"> <i class="fas fa-user-edit m1-2">New Event</i></a>
				</div>
				
				<div class="eventDropdown">
					<select id="sel" name="test">
					<option th:each="event : ${events}" th:value="${event.id}"
						th:utext="${event.eventName}" />
					</select>
				</div>
				
				<div class="addTimeslot">
					<a th:href="@{/mvc/events/{date}(date=${month.today})}" id="newTimeslotModal"
											class="btn btn-primary"> <i class="fas fa-user-edit m1-2">Add Timeslot</i></a>
				</div>
			</div>
			<div class="day-calendar-content" id="cal">
			
<!-- 				<div class="testEntry"><span>Howdy</span></div> -->
				
				<th:block th:each="eventTimeslotEntry : ${eventTimeslots}">
					<th:block th:each="timeslot : ${eventTimeslotEntry.value}" >
<!-- 						<div class="testEntry" th:id="${eventTimeslotEntry.key}" th:styleappend="|grid-row: 5 /span 60; grid-column: 2 / span 1;|"> -->
						<div class="testEntry open-EditModal" th:id="'eventId' + ${eventTimeslotEntry.key + '_' + timeslot.id}" th:styleappend="|grid-row: ${timeslotGridSpans.get(eventTimeslotEntry.key + '_' + timeslot.id).startRow} /span ${timeslotGridSpans.get(eventTimeslotEntry.key + '_' + timeslot.id).span}; grid-column: 2 / span 1;|" th:title= "${timeslot.time.printStartEnd() +': ' +   timeslot.title}"
						th:attr="data-id=${timeslot.id}, 
						data-event-id=${eventTimeslotEntry.key},
						data-starttime=${timeslot.time.printStartTimeMilitary()}, 
						data-endtime=${timeslot.time.printEndTimeMilitary()}, 
						data-timeslottitle=${timeslot.title}, 
						data-notes=${timeslot.notes}">
<!-- 						data-toggle="modal" th:data-target="${'#editModal_' + timeslot.id}" > -->
<!-- 						th:onclick="location.href='/mvc/event/${eventId}/timeslot/${timeslotId}';"> -->
						
							<div class = "timeslotTime" th:text="${timeslot.time.printStartEnd()} + ' -- ' + ${timeslot.title}"></div>
							
							<span th:text="${timeslot.notes}"></span>
							
<!-- 							Modal -->
<!-- 							<div class="modal fade" th:id="${'editModal_' + timeslot.id}" role="dialog" style="color: black;"> -->
<!-- 							  <div class="modal-dialog" > -->
<!-- 							    <div class="modal-content"> -->
<!-- 							      <div class="modal-header"> -->
							        
<!-- 							        <button type="button" class="close" data-dismiss="modal"> -->
<!-- 							          &times;</button> -->
<!-- 							      </div> -->
<!-- 							      <div class="modal-body"> -->
<!-- 							        ... -->
<!-- 							        <input type="text" name="value" id="id" th:value="${timeslot.time.printStartEnd()}" class="form-control" > -->
<!-- 							        <input type="text" name="value" id="id" th:value="${timeslot.id}" class="form-control" > -->
<!-- 							      </div> -->
<!-- 							      <div class="modal-footer"> -->
<!-- 							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
<!-- 							        <button type="button" class="btn btn-primary">Save changes</button> -->
<!-- 							      </div> -->
<!-- 							    </div> -->
<!-- 							  </div> -->
<!-- 							</div> -->
							
						</div>
					</th:block>
					
				</th:block>
				
				
			</div>
		</div>
	</div>
	<div>Footer</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<input type="text" name="timeslotTitle" id="timeslotTitle" value="Title" class="form-control" >
<!--         <h5 class="modal-title" id="timeslotTitle">Title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
      <form id="myForm" method="post">
	      <span>event id</span>
	      <input id="eventId" name="eventId" type="text" class="form-control" disabled="true">
	      <span>timeslot id</span>
	      <input id="timeslotId" name="timeslotId" type="text" class="form-control" disabled="true">
	      
	      	<span>Start Time</span> <span id="rsp_start_time", class="text-danger"></span>
	<!--         <input type="text" name="startTime" id="startTime" value="" class="form-control" > -->
	        
	       	<input id="editStartTime" name="startTime" type="text" class="form-control timepicker">
<!-- 	       	<div id="rsp_start_time"></div> -->
	 
	        <script type="text/javascript">
	        var options = {
	        		now: "12:35"
	        };
	            $('.timepicker').wickedpicker(options);
	        </script>
	        
	        <span>End Time</span>
	<!--         <input type="text" name="endTime" id="endTime" value="" class="form-control" > -->
	        <input id="editEndTime" name="endTime" type="text" class="form-control timepicker">
	        
	        <span>Notes</span>
	        <textarea rows="5" cols="33" name="notes" id="notes" class="form-control"></textarea>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="edit-modal-submit">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- New Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<input type="text" name="timeslotTitle" id="timeslotTitleNew" value="Title" class="form-control" >
<!--         <h5 class="modal-title" id="timeslotTitle">Title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
      <form id="myFormNew" method="post">
	      <span>event id</span>
	      <input id="eventIdNew" name="eventId" type="text" class="form-control" disabled="true">
	      
	      	<span>Start Time</span> <span id="rsp_start_time_new", class="text-danger"></span>
	        
	       	<input id="editStartTimeNew" name="startTime2" type="text" class="form-control timepicker2">
<!-- 	       	<div id="rsp_start_time_new"></div> -->
	 
	        <script type="text/javascript">
	        var options = {
	        		now: "12:35"
	        };
// 				$('.timepicker2').wickedpicker();
	        </script>
	        
	        <span>End Time</span>
	        <input id="editEndTimeNew" name="endTime2" type="text" class="form-control timepicker2">
	        
	        <span>Notes</span>
	        <textarea rows="5" cols="33" name="notes" id="notesNew" class="form-control"></textarea>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="new-modal-submit">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
   $(document).on("click", "#newTimeslotModal", function (event) {
	   event.preventDefault();
	   
	var _self = $(this);
	console.log(_self);
	var eventId = _self.data('event-id');
// 	var timeslotId = _self.data('id');
// 	var startTime = 0;
// 	var endTime = 0;
// 	var title = _self.data('timeslottitle');
// 	var notes = _self.data('notes');

$('#rsp_start_time_new').text("");
console.log("value");
console.log($("#sel").val());
$("#eventIdNew").val($("#sel").val());

// $("#timeslotTitle").val(title);
// $("#startTime").val(startTime);
// $("#endTime").val(endTime);
// $("#notes").val(notes);
// 	 var x = new Date(); 

// update timepicker
var myPicker2 = $('.timepicker2').wickedpicker();
// myPicker2.wickedpicker('setTime', 2, startTime);
// myPicker2.wickedpicker('setTime', 1, endTime);

     $('#newModal').modal('show');
    });

   
   
   
   
   
   
   
   
   $(document).on("click", ".open-EditModal", function (event) {
// 	   window.alert();
	var _self = $(this);
	var eventId = _self.data('event-id');
	var timeslotId = _self.data('id');
	var startTime = _self.data('starttime');
	var endTime = _self.data('endtime');
	var title = _self.data('timeslottitle');
	var notes = _self.data('notes');

// 	var startTime = $(event.relatedTarget).data('val');
// 	window.alert(st);
// 	$(this).find(".modal-body").text(st);
$('#rsp_start_time').text("");
$("#eventId").val(eventId);
$("#timeslotId").val(timeslotId);

$("#timeslotTitle").val(title);
$("#startTime").val(startTime);
$("#endTime").val(endTime);
$("#notes").val(notes);
	 var x = new Date(); 
     var myHeading = "<p>I Am Added Dynamically </p>";
//      $("#modal-body").html(myHeading + x);   


// update timepicker
var myPicker = $('.timepicker').wickedpicker();
var str = "hi";
// console.log(myPicker);
// console.log(myPicker.wickedpicker('time', 0));
myPicker.wickedpicker('setTime', 0, startTime);
myPicker.wickedpicker('setTime', 1, endTime);

     $('#editModal').modal('show');
    });
   
   
// 	$(function() {
   	$(document).on("click", "#edit-modal-submit", function (event) {
		event.preventDefault();
// 		console.log(event.target.parentNode.parentNode.childNodes[3]);
		
// 		validateForm(this);
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		console.log("ajax");
		console.log($('#editStartTime'));
		
// 		var _self = $('.open-EditModal');
		var _self = $('#myForm');
		
		var formData = {};
		formData.id = 0;
		formData.time={};
		formData.time.startTime=0;
		formData.time.totalMinutes=0;
		formData.time.endTime=0;
		formData.title="";
		formData.notes=null;
		formData.client=null;
		formData.photographers=[];
		formData.location=null;
		formData.trackMileage=false;
		formData.eventId=0;
		
// 		formData.timeslot = {};
// 		formData.timeslot.start_time = parseTime($('#editStartTime').val());
// 		formData.timeslot.end_time =  parseTime($('#editEndTime').val());
// 		formData.timeslot.duration = $('#editEndTime').val();

// 		formData.start_time = parseTime($('#editStartTime').val());
// 		formData.end_time =  parseTime($('#editEndTime').val());
// 		formData.duration = $('#editEndTime').val();

		formData.id = $('#timeslotId').val();
		formData.time.startTime = parseTime($('#editStartTime').val());
		formData.time.endTime =  parseTime($('#editEndTime').val());
// 		formData.time.totalMinutes = getDuration($('#editStartTime').val(), $('#editEndTime').val());
		formData.title=$('#timeslotTitle').val();
		formData.notes=$('#notes').val();
		formData.client=null;
		formData.photographers=[];
		formData.location=null;
		formData.trackMileage=false;
		formData.eventId=$('#eventId').val();

// 		console.log(_self);
		console.log("data here");
		console.log(formData);
		console.log(JSON.stringify(formData));
// 		var startTime = _self.data('endtime');
		
		
// 		console.log($('.open-EditModal').data('endtime'));
// 		console.log(startTime);
		
// 		parseData(_self);
		var startTime = $('#editStartTime').val();
// 		console.log(startTime);
		
// 		format data
		
		const RELOAD_TIMER = 50000;
		
		$.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': '<?= csrf_token() ?>'
            }
        });
		console.log("before ajax");
		console.log("before ajax" + $('#timeslotId').val());
		$.ajax({
			type: "PUT",
			contentType: "application/json",
// 			url: "{{ path('addTag') }}",
			url: "/events/" + $('#eventId').val() + "/timeslots/"+ $('#timeslotId').val(),
// 			data: $('form.tagForm').serialize(),
// 			data: JSON.stringify(startTime),
			data: JSON.stringify(formData),

// 			data:"{\"id\":55,\"time\":{\"startTime\":600,\"totalMinutes\":240,\"endTime\":1000},\"title\":\"" + $('#timeslotTitle').val() + "\",\"notes\":null,\"client\":null,\"photographers\":[],\"location\":null,\"trackMileage\":false,\"eventId\":11}",

// 			data: formData,
			dataTpye: 'JSON',
			
			beforeSend: function(xhr) {
				console.log("before req: " + token);
				xhr.setRequestHeader(header, token);
				console.log("token set");
			},
			
			success: function(response) {
				$('#rsp_start_time').text("");
// 				alert(response['response']);
				console.log("ajax1");
				console.log(response);
				if (response.redirect) {
					window.location.href = response.redirect;
				}
				
				setTimeout(function() {
					location.reload();
					}, RELOAD_TIMER);
			},
			error: function (e) {
// 				alert('Error');
				$('#rsp_start_time').text(e.responseJSON.rsp_start_time);
// 				alert(e.status);
// 				console.log(e.responseJSON.rsp_start_time);
				console.log("ajax2");
			}
		});

// $.ajax({
// 			type: "GET",
// 			contentType: "application/json",
// // 			url: "{{ path('addTag') }}",
// 			url: "/events",
// // 			data: $('form.tagForm').serialize(),
// // 			data: JSON.stringify(startTime),
// // 			dataTpye: 'json',
// 			success: function(response) {
// 				alert(response['response']);
// 				console.log("ajax1");
// 			},
// 			error: function () {
// 				alert('Error');
// 				console.log("ajax2");
// 			}
// 		});
		
// 		console.log("ajax3");
// 		return false;
// 	});
	});
	
	
	
	
	
   	$(document).on("click", "#new-modal-submit", function (event) {
		event.preventDefault();
		
// 		validateForm(this);
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		console.log("ajaxNew");
		console.log($('#editStartTimeNew'));
		
		var _self = $('#myFormNew');
		
		var formData = {};
		formData.id = null;
		formData.time={};
		formData.time.startTime=0;
		formData.time.totalMinutes=0;
		formData.time.endTime=0;
		formData.title="";
		formData.notes=null;
		formData.client=null;
		formData.photographers=[];
		formData.location=null;
		formData.trackMileage=false;
		formData.eventId=0;
		
// 		formData.id = $('#timeslotIdNew').val();
console.log("parsing start TIme")
		formData.time.startTime = parseTime($('#editStartTimeNew').val());
		formData.time.endTime =  parseTime($('#editEndTimeNew').val());
		formData.title=$('#timeslotTitleNew').val();
		formData.notes=$('#notesNew').val();
		formData.client=null;
		formData.photographers=[];
		formData.location=null;
		formData.trackMileage=false;
		formData.eventId=$('#eventIdNew').val();

// 		console.log(_self);
		console.log("data here");
		console.log(formData);
		console.log(JSON.stringify(formData));

		var startTime = $('#editStartTimeNew').val();
		
		$.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': '<?= csrf_token() ?>'
            }
        });
		console.log("before ajaxNew");
		console.log("before ajaxNew" + $('#timeslotIdNew').val());
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/events/" + $('#eventIdNew').val() + "/timeslots/",
			data: JSON.stringify(formData),

			dataTpye: 'JSON',
			
			beforeSend: function(xhr) {
				console.log("before req: " + token);
				xhr.setRequestHeader(header, token);
				console.log("token set");
			},
			
			success: function(response) {
				$('#rsp_start_time_new').text("");
				console.log("ajax1New");
				console.log(response);
				if (response.redirect) {
					window.location.href = response.redirect;
				}
				
				setTimeout(function() {
					location.reload();
					}, RELOAD_TIMER);
			},
			error: function (e) {
				$('#rsp_start_time_new').text(e.responseJSON.rsp_start_time);
				console.log("ajax2New");
			}
		});

// $.ajax({
// 			type: "GET",
// 			contentType: "application/json",
// // 			url: "{{ path('addTag') }}",
// 			url: "/events",
// // 			data: $('form.tagForm').serialize(),
// // 			data: JSON.stringify(startTime),
// // 			dataTpye: 'json',
// 			success: function(response) {
// 				alert(response['response']);
// 				console.log("ajax1");
// 			},
// 			error: function () {
// 				alert('Error');
// 				console.log("ajax2");
// 			}
// 		});
		
// 		console.log("ajax3");
// 		return false;
// 	});
	});
	
	
	
	
	
	
</script>

<script type="text/javascript">
// $(document).ajaxStop(function() {
//     setInterval(function() {
//         location.reload();
//     }, 300);
// });

</script>

<script type="text/javascript">
	function parseData(self) {
// 		console.log(self);
		this.startTime = $('#editStartTime');
		startTime.val("700");
// 		this.startTime = 1200;

// 		$('#editStartTime').val() = 700;
		
// 		$("#startTime").val(1200);
// 		self.data('starttime').value = "1200";
// 		self.attr("starttime", "1200");
		console.log("in edit " + self.data('starttime'));
		console.log($('#editStartTime').val());
	}
	
	function parseTime(timeString) {
		console.log(timeString);
		var timeData = timeString.split(" ");
		
		var hr = parseInt(timeData[0]);
		var mn = timeData[2];
		var merid = timeData[3];
		
		if (merid.toUpperCase().normalize() === "PM" && hr != 12) {
			hr += 12;
		}
		if (merid.toUpperCase().normalize() === "AM" && hr == 12) {
			hr = "00";
		}
		else {
		}
		
// 		console.log(hr);
// 		console.log(mn);
// 		console.log(merid);

		console.log("checking hour length: " + hr.toString().length);
		if(hr.toString().length == 1) {
			console.log("length < 2");
			hr = "0" + hr;
		}
		var intTime = "" + hr + ":" + mn;
		console.log(intTime);
		return intTime;
		
	}
	
// 	function validateForm(obj) {
// 		if (timeToMinutes($('#editStartTime').val()) > timeToMinutes($('#editEndTime').val())) {
// 			console.log("error, start time cannot be after end time");
// 		}
// 	}
	
	function timeToMinutes(time) {
		var result = 0;
		
		var tempTime = parseTime(time);
		var data = tempTime.split(":");
		
		result = parseInt(data[0]) * 60;
		result += parseInt(data[1]);
		console.log("parsed time: " + result);
		return result;
	}
	
	function getDuration(timeStart, timeEnd) {
		var startTimeData = timeStart.split(" ");
		var endTimeData = timeEnd.split(" ");
		
		var startHr = parseInt(startTimeData[0]);
		var startMin = startTimeData[2];
		var startMerid = startTimeData[3];
		
		var endHr = parseInt(endTimeData[0]);
		var endMin = endTimeData[2];
		var endMerid = endTimeData[3];
		
		if(startMerid.toUpperCase().normalize() === "PM") {
			startHr += 12;
		}
		if(endMerid.toUpperCase().normalize() === "PM") {
			endHr += 12;
		}
		
		var totHrs = endHr - startHr;
		var totMins = endMin - startMin;
		if (endMin < startMin) {
			totMins = endMin + (60 - startMin);
		}
		
		var duration = totHrs * 100 + totMins;
		console.log(duration);
		return duration;
		
	}
</script>
	<script type="text/javascript" th:src="@{/js/createDayCalendar.js}"></script>
	
</body>
</html>