<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<footer th:fragment="footer">
        
    </footer>

<!-- 	<nav th:fragment="nav" class="navbar navbar-expand-md bg-dark navbar-dark sticky-top"> -->
	<nav th:fragment="nav" class="navbar-expand-md bg-dark navbar-dark sticky-top">
	<div class="upper-nav navbar navbar-nav">
<!-- 		<a class="navbar-brand" href="/mvc/home">PIC| |Time</a> -->
		
	<!-- 	Events -->
		<ul class="navbar-nav">
		<a class="navbar-brand" href="/mvc/home">PIC| |Time</a>
	    	<li class="nav-item dropdown black">
	    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	    		 aria-haspopup="true" aria-expanded="false">Events</a>
	    		 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    		 	<a class="dropdown-item" href="/mvc/events/list/">All</a>
	    		 	<a class="dropdown-item" href="/mvc/events/new">New</a>
	    		 	<div class="dropdown-divider"></div>
	    		 	<a class="dropdown-item" href="/mvc/events/calendar">
	    		 		<img alt="" src="/img/calendar.svg" width="20" color="red">
	    		 		Calendar
	    		 	</a>
	    		 	<div class="dropdown-divider"></div>
		    		 	<a class="dropdown-item" href="/mvc/event-types/list">
		    		 		Types
		    		 	</a>
	    		 </div>
	    	</li>
	    	
	<!--     	Clients -->
	    	<li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	    		 aria-haspopup="true" aria-expanded="false">Clients</a>
	    		 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    		 	<a class="dropdown-item" href="/mvc/clients/list">All</a>
	    		 	<a class="dropdown-item" href="/mvc/clients/new">New</a>
	    	</li>
	    	
	<!--     	Locations -->
			<li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	    		 aria-haspopup="true" aria-expanded="false">Locations</a>
	    		 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    		 	<a class="dropdown-item" href="/mvc/locations/list">All</a>
	    		 	<a class="dropdown-item" href="/mvc/locations/new">New</a>
	    	</li>
	    	
	<!--     	Photographers -->
	    	<li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	    		 aria-haspopup="true" aria-expanded="false">Photographers</a>
	    		 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    		 	<a class="dropdown-item" href="#">All</a>
	    		 	<a class="dropdown-item" href="/registration">New</a>
	    	</li>
	    	
	<!--     	Reports -->
	    	<li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
	    		 aria-haspopup="true" aria-expanded="false">Reports</a>
	    		 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    		 	<a class="dropdown-item" href="#">Mileage</a>
	    		 	<a class="dropdown-item" href="#">Income</a>
	    		 	<div class="dropdown-divider"></div>
	    		 	<a class="dropdown-item" href="#">Taxes</a>
	    		 </div>
	    	</li>
	    	
	<!-- 	    <li class="nav-item"> -->
	<!-- 	      <a class="nav-link" href="#">Link 2</a> -->
	<!-- 	    </li> -->
	<!-- 	    <li class="nav-item"> -->
	<!-- 	      <a class="nav-link" href="#">Link 3</a> -->
	<!-- 	    </li> -->
		    <li class="nav-item" style="display: flex; align-items: center;">
		    	<button onclick="location.href='/mvc/events/calendar'" style="background-color: transparent; background-repeat: no-repeat; border: none; overflow: hidden; outline: none;"><svg width="30" height="30" style="color: red;" ><use xlink:href="/img/calendar.svg#calendar"></use></svg></button>
		    </li>
	  	</ul>
  	</div>
  	<div id="navbar-print">
<!--   		<button th:fragment="nav" type="button" class="form-control btn-primary" id="HTML-to-text">Printable Timeline</button> -->
  	</div>
	</nav>
	
</body>
</html>