.location-searchbar {
/* 	max-width: 50%; */
	display: grid;
	grid-template-columns: 80fr 1fr;
/* 	grid-template-rows: auto; */
/* 	border: 1px solid black; */
	row-gap: 5px;
/* 	padding-left: 15px; */
/* 	padding-right: 15px; */
	margin-bottom: 1rem;
	
}

.location-searchbar-item {
	align-self: center;
	width: auto;
}


.add-location-header {
	display: grid;
}

.add-location-header .item {
	color: blue;
	text-align: center;
}

#addNewLocation {
	border: 1px solid;
	padding: 5px;
}


.show-photographers {
	display: grid;
	grid-template-columns: 1fr 80fr;
	column-gap: 2rem;
}
.show-photographers-item {
	align-self: center;
}

/* .modal-content { width: 800px; max-width:100%; } */

/* .modal-dialog { width: 500px; max-width:100%; } */


.full_modal-dialog {
/*   width: 98% !important; */
/*   height: 92% !important; */
/*   min-width: 98% !important; */
/*   min-height: 92% !important; */
/*   max-width: 98% !important; */
/*   max-height: 92% !important; */
/*   padding: 0 !important; */
/* } */

.full_modal-content {
/*   height: 99% !important; */
/*   min-height: 99% !important; */
/*   max-height: 99% !important; */
}

.modal-content { width: 1200px; max-width:100%; }

/* @media only screen and (max-width: 480px) { */
/*     .modal .modal-dialog { */
/*         position:relative; */
/*         width:auto; */
/*         margin: 10px; */
/*     } */
/* } */

/* .photographer-row { */
/* 	display: grid; */
/* 	grid-template-columns: 60fr 10fr 20fr; */
/* 	column-gap: 2px; */
	
/* } */

/* .photographer-item { */
/* 	align-self: center; */
/* 	max-width: 100%; */
/* } */