<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/no-scroll.css}" />

    <title>Registration</title>
</head>
<body>
<th:block th:insert="fragments/nav :: nav"></th:block>

<div class="container my-5">
		<div class="grid-container">
			<a href="/mvc/events/list">
			<div class="grid-item">
				<img alt="Events" src="/img/event-icon.png">
				Events
			</div>
			</a>
			
			<a href="/mvc/clients/list">
			<div class="grid-item">
				<img alt="" src="/img/clients.jpg">
				Clients
			</div>
			</a>
			
			<a href="/mvc/locations/list">
			<div class="grid-item">
			<img alt="" src="/img/locations.png">
				Locations
			</div>
			</a>
			
			<a href="/mvc/photographers/list">
			<div class="grid-item">
				<img alt="" src="/img/photographer.png">
				Photographers
			</div>
			</a>
			
			<a href="/mvc/reports/list">
			<div class="grid-item">
				<img alt="" src="/img/report.png">
				Reports
			</div>
			</a>
			
		</div>
	</div>


</body>
</html>