<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../../css/bootstrap.min.css">

<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{../../../css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../../../css/slider.css}" />

<title>Edit Location</title>
</head>
<body>
	<div class="container my-5">
		<div class="row">

			<h1>Edit Location</h1>

			<div th:switch="${location}" class="container">
				<div class="col-md-10">
					<h2 th:case="null">No Location Record Found!</h2>
					<h2 th:case="NoData">No Location Record Found!</h2>

					<div th:case="*">

						<form action="#" th:action="@{/mvc/locations/update/{id}(id=${location.id})}"  method="post">

							<div class="form-group col-md-6">
								<label for="street" class="col-form-label">Street</label> 
								<input type="text" th:field="${location.street}" class="form-control" id="street" placeholder="Street (EX: 123 Main St.)"> 
								<span th:if="${#fields.hasErrors('location.street')}" th:errors="${location.street}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="city" class="col-form-label">City</label> 
								<input type="text" th:field="${location.city}" class="form-control" id="city" placeholder="City"> 
								<span th:if="${#fields.hasErrors('location.city')}" th:errors="${location.city}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="state" class="col-form-label">State</label> 
								<select class="form-control" th:field="${location.state}" id="state">
									<option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
								</select>
								<span th:if="${#fields.hasErrors('location.state')}" th:errors="${location.state}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="zipcode" class="col-form-label">ZIP Code</label> 
								<input type="text" th:field="${location.zipcode}" class="form-control" id="zipcode" placeholder="EX: 43068"> 
								<span th:if="${#fields.hasErrors('location.zipcode')}" th:errors="${location.zipcode}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="description" class="col-form-label">Description (Optional)</label> 
								<input type="text" th:field="${location.description}" class="form-control" id="description" placeholder="Description"> 
								<span th:if="${#fields.hasErrors('location.description')}" th:errors="${location.description}" class="text-danger"></span>
							</div>
							
							<td><input type="submit" class="btn btn-primary" value="Save"></td>
                            
							<td><a th:href="@{/mvc/locations/list}"
								class="btn btn-primary delete"> <i
									class="fas fa-user-times m1-2">Cancel</i>
							</a></td>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>

</body>
</html>