<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>New Location</title>
</head>
<body>
	<th:block th:insert="fragments/nav :: nav"></th:block>
	
	<div class="container my-5">
		<div class="row">

			<h1>New Location</h1>

			<div class="col-md-10">

				<form action="#" th:action="@{/mvc/locations/save}" th:object="${location}" method="post">

					<th:block th:each="detailedError : ${#fields.detailedErrors()}">
					    <div class="alert alert-danger form-group col-md-6" th:if="${detailedError.getFieldName() == 'location'}"><span th:text="${detailedError.getMessage()}"></span></div>
					</th:block>

					<div class="form-group col-md-6">
						<label for="description" class="col-form-label">Description</label> 
						<input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description"> 
						<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
					</div>
					
					<div class="form-group col-md-6">
						<label for="street" class="col-form-label">Street</label> 
						<input type="text" th:field="*{street}" class="form-control" id="street" placeholder="Street (EX: 123 Main St.)"> 
						<span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="text-danger"></span>
					</div>
					
					<div class="form-group col-md-6">
						<label for="city" class="col-form-label">City</label> 
						<input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City"> 
						<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
					</div>
					
					<div class="form-group col-md-6">
						<label for="state" class="col-form-label">State</label> 
						<select class="form-control" th:field="*{state}" id="state">
							<option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
						</select>
						<span th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="text-danger"></span>
					</div>
					
					<div class="form-group col-md-6">
						<label for="zipcode" class="col-form-label">ZIP Code</label> 
						<input type="text" th:field="*{zipcode}" class="form-control" id="zipcode" placeholder="EX: 43068"> 
						<span th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" class="text-danger"></span>
					</div>
					
					<td><input type="submit" class="btn btn-primary" value="Save"></td>
					
					<td><a th:href="@{/mvc/locations/list}"
						class="btn btn-primary delete"> <i
							class="fas fa-user-times m1-2">Cancel</i>
					</a></td>
				</form>
			</div>
		</div>


	</div>

</body>
</html>